<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini Whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <h3>All Chats</h3>
    <form method="get" action="/chats/new">
        <button class="new">New Chat</button>
    </form>
    <br>
    <%for(let chat of chats){ %>
        <div class="chat">
            <p>From: <b><%=chat.from %></b></p>
            <div class="msg">
                <p>message: <%= chat.msg%></p>
                <form method="get" action="/chats/<%= chat._id %>/edit">
                    <button class="edit">Edit</button>
                </form>
                <br>
                <form method="POST" action="/chats/<%= chat._id %>?_method=DELETE">
                    <button class="delete">Delete chat</button>
                </form>
            </div>
            <p>Received By: <b><%=chat.to %></b></p>
            <hr>
            <p><%=chat.created_at.toString().split(" ")[4] %></p>
            <p><%=chat.created_at.toString().split(" ").slice(0 , 4).join(" ") %> </p>
        </div>
        <br><br>
    <%} %>
</body>
</html>


